<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head">
    <title th:text="#{user.list.page.title}">Página de listado de usuarios</title>
</head>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<div class="container">
    <h2 th:text="#{user.list.title}">Usuarios</h2>
    <p th:text="#{user.list.subtitle}">Los usuarios que actualmente figuran en el sistema son los siguientes:</p>
    <button type="button" id="updateButton" class="btn btn-primary" th:text="#{button.update}">Actualizar</button>
    <script>
        $("#updateButton").click(function () {
            $("#usersTable").load('/user/list/update');
        });
    </script>
    <div id="usersTable" th:replace="~{fragments/usersTable :: usersTable}"></div>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>
