<!-- nav.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"></a>
    <img src="/images/student-48.png" alt="logo"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/home" id="nav-home">
                    <span th:text="#{nav.home}">Home</span><span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"
                   th:text="#{nav.marks}">Gestión de notas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/mark/list" th:text="#{nav.marks.list}">Ver Notas</a>
                    <a class="dropdown-item" href="/mark/add" th:text="#{nav.marks.add}">Agregar Nota</a>
                </div>
            </li>
            <li id= "users-menu" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropDown" data-toggle="dropdown" href="#">
                    <span th:text="#{nav.users}">User management</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/user/add" th:text="#{nav.users.add}">Add user</a>
                    <a class="dropdown-item" href="/user/list" th:text="#{nav.users.list}">View users</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="profesorDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"
                   th:text="#{nav.professors}">Gestión de profesores
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/professor/add" th:text="#{nav.professors.add}">Agregar profesor</a>
                    <a class="dropdown-item" href="/professor/list" th:text="#{nav.professors.list}">Ver profesores</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="btnLanguage" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span th:text="#{language.change}"></span>
                </a>
                <div id="languageDropdownMenuButton" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="btnEnglish" value="EN">
                        <img th:src="@{/images/if_uk_flag.png}" style="border: 0; float: left; margin-right: 15px"/>
                        <span th:text="#{language.en}">Inglés</span>
                    </a>
                    <a class="dropdown-item" id="btnSpanish" value="ES">
                        <img th:src="@{/images/if_spain_flag.png}" style="border: 0; float: left; margin-right: 15px"/>
                        <span th:text="#{language.es}">Español</span>
                    </a>
                    <a class="dropdown-item" id="btnAsturian" value="ast">
                        <img th:src="@{/images/if_ast_flag.png}" style="border: 0; float: left; margin-right: 15px"/>
                        <span th:text="#{language.ast}">Asturianu</span>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup" id="nav-signup">
                    <i class='fas fa-user-alt' style='font-size:16px'></i>
                    <span th:text="#{signup.message}"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login" id="nav-login">
                    <i class='fas fa-sign-in-alt' style='font-size:16px'></i>
                    <span th:text="#{login.message}"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<script>
    (function () {
        var path = window.location.pathname;
        var markLink = document.getElementById("navbarDropdown");
        var userLink = document.getElementById("userDropDown");
        var professorLink = document.getElementById("profesorDropdown");
        var homeLink = document.getElementById("nav-home");
        var signupLink = document.getElementById("nav-signup");
        var loginLink = document.getElementById("nav-login");

        if (path === "/" || path === "/home") homeLink && homeLink.classList.add("active");
        if (path.indexOf("/mark") === 0) markLink && markLink.classList.add("active");
        if (path.indexOf("/user") === 0) userLink && userLink.classList.add("active");
        if (path.indexOf("/professor") === 0) professorLink && professorLink.classList.add("active");
        if (path === "/signup") signupLink && signupLink.classList.add("active");
        if (path === "/login") loginLink && loginLink.classList.add("active");
    })();
</script>
