<div class="text-center" th:fragment="pagination" th:if="${page != null and page.totalPages > 0}">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" th:href="@{'/mark/list?page=0'}">Primera</a>
        </li>

        <li class="page-item" th:if="${page.number - 1 >= 0}">
            <a class="page-link"
               th:href="@{'/mark/list?page=' + ${page.number - 1}}"
               th:text="${page.number}"></a>
        </li>

        <li class="page-item active">
            <a class="page-link"
               th:href="@{'/mark/list?page=' + ${page.number}}"
               th:text="${page.number + 1}"></a>
        </li>

        <li class="page-item" th:if="${page.number + 1 <= page.totalPages - 1}">
            <a class="page-link"
               th:href="@{'/mark/list?page=' + ${page.number + 1}}"
               th:text="${page.number + 2}"></a>
        </li>

        <li class="page-item">
            <a class="page-link"
               th:href="@{'/mark/list?page=' + ${page.totalPages - 1}}">Ultima</a>
        </li>
    </ul>
</div>
