<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments/head">
    <title th:text="#{mark.list.page.title}">Página de listado de notas</title>
</head>
<body>
<nav th:replace="fragments/nav"></nav>


<div class="container" id="main-container">
    <h2 th:text="#{mark.list.title}">Notas</h2>
    <form class="form-inline" action="/mark/list" method="get">
        <div class="form-group">
            <input name="searchText" type="text" class="form-control" size="50"
                   placeholder="Buscar por descripcion, nombre o DNI del alumno"
                   th:value="${param.searchText != null and !#lists.isEmpty(param.searchText) ? param.searchText[0] : ''}">
        </div>
        <input th:if="${param.size != null and !#lists.isEmpty(param.size)}" type="hidden" name="size" th:value="${param.size[0]}">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <br>
    <p th:text="#{mark.list.subtitle}">Las notas que actualmente figuran en el sistema son las siguientes:</p>
    <button type="button" id="updateButton" class="btn btn-primary" th:text="#{button.update}">Actualizar</button>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function buildMarksUpdateUrl() {
            let page = /*[[${param.page != null and !#lists.isEmpty(param.page) ? param.page[0] : null}]]*/ null;
            let size = /*[[${param.size != null and !#lists.isEmpty(param.size) ? param.size[0] : null}]]*/ null;
            let searchText = /*[[${param.searchText != null and !#lists.isEmpty(param.searchText) ? param.searchText[0] : null}]]*/ null;
            let params = [];
            if (page != null) {
                params.push("page=" + page);
            }
            if (size != null) {
                params.push("size=" + size);
            }
            if (searchText != null && searchText !== "") {
                params.push("searchText=" + encodeURIComponent(searchText));
            }
            let urlUpdate = "/mark/list/update";
            if (params.length > 0) {
                urlUpdate += "?" + params.join("&");
            }
            return urlUpdate;
        }

        function reloadMarksTable() {
            $("#marksTable").load(buildMarksUpdateUrl());
        }

        $("#updateButton").click(function () {
            reloadMarksTable();
        });
        /*]]>*/
    </script>
    <div class="table-responsive">
        <table class="table table-hover" th:fragment="marksTable" id="marksTable">
            <thead>
            <tr>
                <th scope="col" th:text="#{mark.table.id}">id</th>
                <th scope="col" th:text="#{mark.table.user}">Usuario</th>
                <th scope="col" th:text="#{mark.table.description}">Descripción</th>
                <th scope="col" th:text="#{mark.table.score}">Puntuación</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mark : ${marksList}">
                <td scope="row" th:text="${mark.id}"> 1</td>
                <td th:text="${mark.user != null ? mark.user.dni : '-'}">99999990A</td>
                <td th:text="${mark.description}"> Ejercicio 1</td>
                <td th:text="${mark.score}">10</td>
                <td><a th:href="${'/mark/details/' + mark.id}" th:text="#{mark.action.details}">detalles</a></td>
                <td>
                    <a sec:authorize="hasAuthority('ROLE_PROFESSOR')"
                       th:href="${'/mark/edit/' + mark.id}"
                       th:text="#{mark.action.edit}">modificar</a>
                    <div sec:authorize="hasAuthority('ROLE_STUDENT')">
                        <div th:if="${mark.resend}">
                            <button type="button" th:id="${'noresendButton' + mark.id}" class="btn btn-info">No reenviar</button>
                            <script th:inline="javascript">
                                /*<![CDATA[*/
                                $("#noresendButton" + "[[${mark.id}]]").click(function () {
                                    $.get("/mark/[[${mark.id}]]/noresend", function () {
                                        reloadMarksTable();
                                    });
                                });
                                /*]]>*/
                            </script>
                        </div>
                        <div th:unless="${mark.resend}">
                            <button type="button" th:id="${'resendButton' + mark.id}" class="btn btn-success">Reenviar</button>
                            <script th:inline="javascript">
                                /*<![CDATA[*/
                                $("#resendButton" + "[[${mark.id}]]").click(function () {
                                    $.get("/mark/[[${mark.id}]]/resend", function () {
                                        reloadMarksTable();
                                    });
                                });
                                /*]]>*/
                            </script>
                        </div>
                    </div>
                </td>
                <td>
                    <a sec:authorize="hasAuthority('ROLE_PROFESSOR')"
                       th:href="${'/mark/delete/' + mark.id}"
                       th:text="#{mark.action.delete}"
                       th:onclick="|return confirm('#{dialog.delete.confirm}');|">eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(marksList)}" th:text="#{mark.list.empty}">No hay notas</div>
    <div th:replace="~{fragments/pagination :: pagination}"></div>
</div>

<footer th:replace="fragments/footer"></footer>
</body>
</html>
